{%extends "base.html" %}
{% block title %}Image Converter{% endblock %}
{% block converter %}
    <div class="container">
        <div class="title-text">
            <h1 class="title">Image converter</h1>
            <h6 class="mutted">Convert any kind image file to new format</h6>
        </div>
        <form class="form-items" method="post" enctype="multipart/form-data">
            <div class="choose-files">
                <div class="input-file-btn">
                    <label for="file-upload" class="btn">
                        Upload
                    </label>
                    <input id="file-upload" accept="image/png, image/gif, image/jpg, image/jpeg, image/x-icon, image/webp" type="file" name="file-path" />
                </div>
                <label id="file-name-view" for="file-upload" class="file-name">No file selected</label>
            </div>
            <div class="action-items">
                <div class="display-image" id="display-image"></div>
                <div class="converter-items">
                    <div class="file-format-types">
                        <select name="file-format" class="file-format">
                            <option value="">Select File Format</option>
                            {% for i in file_format %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="convert-btn">
                        <input type="submit" value="convert" class="btn convert" id="convert">
                    </div>
                    <div class="download-btn">
                        {% if output_file != None %}
                            <a 
                                download="Image_file_converter.com.{{ output_file.split('.')[-1] }}" 
                                href="/{{ output_file }}" 
                                class="btn download" 
                            >
                            Download
                            </a>
                        {% else %}
                            <a class="btn download disabled" >Download</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script>
        $('#file-upload').change((e) => {
            let file_list = $('#file-upload').val().split('\\');
            if (file_list[file_list.length - 1] != '') {
                $('#file-name-view').text(`Selected File: ${file_list[file_list.length - 1]}`);
            } else {
                $('#display-image').html('<h1>No File Selected</h1>');
            }

            const file = e.target.files[0];
            if (file && file.type.startsWith('image/')) {
                const reader = new FileReader();

                // When the image is loaded
                reader.onload = function(e) {
                    // Create an image element with the loaded data
                    const img = $('<img />', {
                        src: e.target.result,
                        alt: 'Selected Image'
                    });

                    // Clear previous content in the preview div
                    $('#display-image').html('');  
                    $('#display-image').append(img); // Append the new image
                };

                // Read the file as Data URL
                reader.readAsDataURL(file);

            } else {
                // If no valid image is selected, show a message
                $('#display-image').html('<h1>No File Selected</h1>');
            }
        })
        $('#display-image').html('<h1>No File Selected</h1>');
    </script>
{% endblock %}
