{%extends "base.html" %}
{% block title %}Image Converter{% endblock %}
{% block converter %}
    <div class="container">
        <div class="title-text">
            <h1 class="title">Image converter</h1>
            <h6 class="mutted">Convert any kind image file to new format</h6>
        </div>
        <form class="form-items" method="post" enctype="multipart/form-data">
            <div class="choose-files">
                <div class="input-file-btn">
                    <label for="file-upload" class="btn">
                        Upload
                    </label>
                    <input id="file-upload" type="file" name="file-path" />
                </div>
                <label id="file-name-view" for="file-upload" class="file-name">No file selected</label>
            </div>
            <div class="action-items">
                <div class="display-image">
                    <h1>No File Selected</h1>
                </div>
                <div class="converter-items">
                    <div class="file-format-types">
                        <select name="file-format" class="file-format">
                            <option value="">Select File Format</option>
                            {% for i in file_format %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="convert-btn">
                        <input type="submit" value="convert" class="btn convert" id="convert">
                    </div>
                    <div class="download-btn">
                        <button role="button" class="btn download">Download</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script>
        $('#file-upload').change((e) => {
            let file_list = $('#file-upload').val().split('\\');
            $('#file-name-view').text(`Selected File: ${file_list[file_list.length - 1]}`);
        })
    </script>
{% endblock %}
